<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigator</title>
</head>
<body>
    <h1>Navigate to:</h1>
    <a href="https://www.youtube.com/playlist?list=PLu0W_9lII9ah7DDtYtflgwMwpT3xmjXY9"><h3>Django Playlist Code With Harry</h3></a><br>
    <a href="https://www.facebook.com/"><h3>My Facebook Profile</h3></a><br>
    <a href="https://www.instagram.com/">My Instagram Profile</a>
</body>
</html>